.details {
    >dt, >dd {
        display:inline;
    }
    >dd {
        margin-left: 0;
    }

    >dt+dd:after {
        content:"\A";
        white-space:pre;
    }
}

.details--rev {
    @extend .details;
    direction:rtl;
    text-align:left;

    >dt,>dd {
        direction:ltr;
    }

}
