/**
 * Generates sprites in BOM style (.spriteName, .spriteName--sprite)
 */
@mixin sprite-generate($className: sprite, $spriteLocation: "s/*.png", $spriteLayout: smart, $spriteSpacing: 20) {

  $sprite: sprite-map($spriteLocation, $spacing: $spriteSpacing, $layout: $spriteLayout);
  $sprite-names: sprite-names($sprite);

  // main class
  .#{$className} {
    background: sprite-url($sprite) no-repeat;
  }

  // modifier classes
  @each $name in $sprite-names {
    .#{$className}--#{$name} {
       background-position: sprite-position($sprite, $name);
       height: image-height(sprite-file($sprite, $name));
       width: image-width(sprite-file($sprite, $name));
    }
  }

}